img {
  max-width: 50%;
  max-height: 50%;
}

body {
  background-image: url("https://images.pexels.com/photos/167092/pexels-photo-167092.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
  background-position-x: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
}

.card {
  background-image: url("https://images.pexels.com/photos/41498/pexels-photo-41498.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.audio-controls {
  max-width: 90%;
}

#songs {
  margin-top: 10vh;
  margin-left: 10vw;
  margin-right: 10vw;
}

.header {
  margin-top: 30vh;
  margin-bottom: 3vh;
}

h1 {
  font-size: 6rem;
}

#search-input {
  background-color: rgba(200, 200, 200, 0.1);
  text-align: center;
}

.overflow {
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: auto;
  margin-right: auto;
}
